@charset "utf-8";
div{
    border: 5px solid #7DCE94;
    height: 142px;
    width: 357px;
    margin:18px;
}
h1{
    padding-left: 20px;
    font-size: 36px;
    color: #005569;
}
div{
    background-color: #0E91A1;
}