body{
    background-color: #DCD6CD;
    
}

form{
    box-sizing: border-box;
    width: 624px;
    height: 780px;
    align-content: center;
    background-color: #127731;;
    vertical-align: center;
    align-content: center;
    margin:auto;
    padding: 20px;
}

.first{
    margin-left: -20px;
    box-sizing: content-box;
    width: 594px;
    height: 20px;
    border: 15px solid #FF1200;
    background-color: #FFE42E;
    
}

.second :nth-child(1){
    box-sizing: content-box;
    margin-top: 16px;
    width: 282px;
    height: 410px;
    border: 15px solid #FF1200;
    background-color: #FFE42E;
    margin-left: -20px;

}

.second :last-of-type{
    box-sizing: content-box;
    margin-top:-440px;
    width: 282px;
    height: 410px;
    border: 15px solid #FF1200;
    background-color: #FFE42E;
    margin-right: -20px;
}

.third{
    box-sizing: content-box;
    border: 15px solid #FF1200;
    background-color: #FFE42E;
    width: 594px;
    height: 160px;
    margin-left: -20px;
    margin-top: 20px;

}

.secondpart1 :first-child{
    box-sizing: content-box;
    margin-top:222px;
    width: 277px;
    height: 147px;
    border: 3px solid black;
    background-color: #FFE42E;
    margin-left: 0px;
}

.secondpart1 :nth-child(2) {
    box-sizing: content-box;
    margin-top:-240px;
    width: 136px;
    height: 43px;
    border: 3px solid black;
    background-color: #FFE42E;
    margin-left: 0px;
}

.secondpart1 :nth-child(3){
    box-sizing: content-box;
    margin-top:-49px;
    width: 136px;
    height: 43px;
    border: 3px solid black;
    background-color: #FFE42E;
    margin-left: 141px;
}