@charset "utf-8";
a{
    color: #ff0099
}
a:hover{
    color:blue
}
nav{
    font-family: Courier New, Courier, monospace;
    text-align: right
}
header{
    background-color: #333333;
    height: 80px
}
article{
    font-family: 'Spectral SC', serif;
}
article{
    padding:10%;
    border:10%;
}
h1{
    font-size: 48px;
    height:50px;
}
article p:first-line{
    font-size: 32px;
    height:50px;
    color: #ff0099
}

    
    